:root {
  --primary-color: #c62828;
  --light-bg: #fff3f3;
}

.register-container {
  position: relative;  // để chứa overlay
  min-height: 100vh;
  background-image: url('../../../assets/images/HIVAIDS-Banner-1920x1024v2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;  // top:0; right:0; bottom:0; left:0;
    background: rgba(255, 255, 255, 0.3);  // lớp phủ trắng mờ 30%
    backdrop-filter: blur(6px);  // tạo hiệu ứng mờ sương mù (blur)
    z-index: 1;
  }

  .register-box {
    position: relative;
    z-index: 2;  // để nội dung nằm trên overlay
  }
}

.register-box {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.register-title {
  font-size: 25px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.register-subtitle {
  display: block;
  margin-bottom: 30px;
  color: #666;
}

.register-form {
  text-align: left;

}

.register-form .ant-form-item-label > label {
  color: #444;
}

.register-btn {
  background-color: var(--primary-color);
  border: none;
  color: white;
  width: 100%;
  padding: 10px 0;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.register-btn:hover {
  background-color: #b71c1c;
}

.register-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.register-links a {
  color: var(--primary-color);
  text-decoration: none;
}

.register-links a:hover {
  text-decoration: underline;
}
