header {
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;

  span,
  p {
    transition: color 0.2s ease;
  }

  img {
    transition: transform 0.3s ease;
  }

  img:hover {
    transform: scale(1.05);
  }
}
